<nb-layout>
	<nb-layout-header fixed>
		<a href="#" (click)="toggle()">
			<nb-action icon="menu-outline"></nb-action>
		</a>
		<h1 class="ml-4">ZNStudy</h1>
	</nb-layout-header>
	<nb-layout-header subheader>
		<button nbButton status="primary" (click)="open()">
			<nb-icon icon="plus-outline"></nb-icon>
		</button>
  	</nb-layout-header>

  	<nb-sidebar>
			<nb-list *ngFor="let s of salas">
				<nb-list-item>
					<div>
						<p>
							{{ s.name }}<strong class="ml-4">{{ s.tiempo }}</strong> 
							<nb-icon icon="clock-outline" class="mt-2"></nb-icon>
						</p>
						<p>Participantes: {{ s.participantes }} <nb-icon icon="person-outline" class="ml-4"></nb-icon></p>
					</div>
				</nb-list-item>
			</nb-list>
	</nb-sidebar>

  	<nb-layout-column class="colored-column-basic">Layout Content</nb-layout-column>
</nb-layout>
