<nb-layout>
	<nb-layout-header fixed>
		<a href="#" (click)="toggle()">
			<nb-action icon="menu-outline"></nb-action>
		</a>
		<h1 class="ml-4">ZNStudy</h1>
	</nb-layout-header>
	<nb-layout-header subheader>
    		<nb-actions>
      			<nb-action icon="home-outline"></nb-action>
      			<nb-action icon="plus-outline"></nb-action>
      			<nb-action icon="edit-outline"></nb-action>
    		</nb-actions>
  	</nb-layout-header>

  	<nb-sidebar>
		<nb-card size="small">
			<nb-list>
				<nb-list-item *ngFor="let s of salas">
					<nb-user [name]="s.name"></nb-user>
				</nb-list-item>
			</nb-list>
		</nb-card>
	</nb-sidebar>

  	<nb-layout-column class="colored-column-basic">Layout Content</nb-layout-column>
</nb-layout>
