<div class="mb-4">
  <button nbButton status="success">Create my room</button>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <nb-card>
        <nb-card-header>
          <div class="d-flex justify-content-between">
            <div>NameRooom</div>
            <div>
              <button
                nbTooltip="Join to room"
                nbTooltipStatus="info"
                nbButton
                status="info"
              >
                <nb-icon icon="log-in"></nb-icon>
              </button>
            </div>
          </div>
        </nb-card-header>
        <nb-card-body>
          <nb-icon icon="clock-outline"></nb-icon>
          <br />
          Themes List
        </nb-card-body>
        <nb-card-footer>
          <nb-user name="John Doe" title="Engineer"></nb-user>
        </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
