<ng-container *ngIf="(rooms$ | async)!.length > 0; else noRooms">
  <div class="mb-4">
    <button nbButton status="success">Create my room</button>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-6" *ngFor="let room of rooms$ | async">
        <nb-card>
          <nb-card-header>
            <div class="d-flex justify-content-between">
              <div>{{ room.nameRoom }}</div>
              <div>
                <button
                  nbTooltip="Join to room"
                  nbTooltipStatus="info"
                  nbButton
                  status="info"
                >
                  <nb-icon icon="log-in"></nb-icon>
                </button>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <nb-icon icon="clock-outline"></nb-icon>
            <br />
            Themes List
          </nb-card-body>
          <nb-card-footer>
            <div *ngFor="let student of room.students">
              <nb-user [name]="student.username" [title]="student.email"></nb-user>
            </div>
          </nb-card-footer>
        </nb-card>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noRooms>
  <div>No rooms are here...yet.</div>
</ng-template>
