<!--<nb-card>
  <nb-card-header> Crear una sala </nb-card-header>

  <nb-card-body class="items-col">
    <input
      nbInput
      fullWidth
      status="primary"
      fieldSize="medium"
      type="text"
      placeholder="Nombre de la sala"
      #name
    />
    <input
      nbInput
      fullWidth
      status="primary"
      fieldSize="medium"
      type="text"
      placeholder="Tiempo de estudio"
      #time
    />
  </nb-card-body>

  <nb-card-footer class="btn-group">
    <button nbButton status="danger" (click)="cancel()">Cancelar</button>
    <button nbButton status="success" (click)="submit(name.value, time.value)">
      Crear
    </button>
  </nb-card-footer>
</nb-card>
-->
